.markdown-body-node .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body-node .anchor {
  float: left;
    margin-left: -20px;
  padding-right: 4px;
}

.markdown-body-node .anchor:focus {
  outline: none;
}

.markdown-body-node h1 .octicon-link,
.markdown-body-node h2 .octicon-link,
.markdown-body-node h3 .octicon-link,
.markdown-body-node h4 .octicon-link,
.markdown-body-node h5 .octicon-link,
.markdown-body-node h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body-node h1:hover .anchor,
.markdown-body-node h2:hover .anchor,
.markdown-body-node h3:hover .anchor,
.markdown-body-node h4:hover .anchor,
.markdown-body-node h5:hover .anchor,
.markdown-body-node h6:hover .anchor {
  text-decoration: none;
}

.markdown-body-node h1:hover .anchor .octicon-link,
.markdown-body-node h2:hover .anchor .octicon-link,
.markdown-body-node h3:hover .anchor .octicon-link,
.markdown-body-node h4:hover .anchor .octicon-link,
.markdown-body-node h5:hover .anchor .octicon-link,
.markdown-body-node h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body-node h1:hover .anchor .octicon-link:before,
.markdown-body-node h2:hover .anchor .octicon-link:before,
.markdown-body-node h3:hover .anchor .octicon-link:before,
.markdown-body-node h4:hover .anchor .octicon-link:before,
.markdown-body-node h5:hover .anchor .octicon-link:before,
.markdown-body-node h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}.markdown-body-node {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  
  
  word-wrap: break-word;
}

.markdown-body-node details {
  display: block;
}

.markdown-body-node summary {
  display: list-item;
}

.markdown-body-node a {
  background-color: initial;
}

.markdown-body-node a:active,
.markdown-body-node a:hover {
  outline-width: 0;
}

.markdown-body-node strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body-node h1 {
  
  margin: .67em 0;
}

.markdown-body-node img {
  border-style: none;
}

.markdown-body-node code,
.markdown-body-node kbd,
.markdown-body-node pre {
  font-family: monospace,monospace;
  
}

.markdown-body-node hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown-body-node input {
  font: inherit;
  margin: 0;
}

.markdown-body-node input {
  overflow: visible;
}

.markdown-body-node [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body-node * {
  box-sizing: border-box;
}

.markdown-body-node input {
  font-family: inherit;
  
  }

.markdown-body-node a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-body-node a:hover {
  text-decoration: underline;
}

.markdown-body-node strong {
  font-weight: 600;
}

.markdown-body-node hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body-node hr:after,
.markdown-body-node hr:before {
  display: table;
  content: "";
}

.markdown-body-node hr:after {
  clear: both;
}

.markdown-body-node table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body-node td,
.markdown-body-node th {
  padding: 0;
}

.markdown-body-node details summary {
  cursor: pointer;
}

.markdown-body-node kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body-node h1,
.markdown-body-node h2,
.markdown-body-node h3,
.markdown-body-node h4,
.markdown-body-node h5,
.markdown-body-node h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-node h1 {
  
}

.markdown-body-node h1,
.markdown-body-node h2 {
  font-weight: 600;
}

.markdown-body-node h2 {
  
}

.markdown-body-node h3 {
  
}

.markdown-body-node h3,
.markdown-body-node h4 {
  font-weight: 600;
}

.markdown-body-node h4 {
  
}

.markdown-body-node h5 {
  
}

.markdown-body-node h5,
.markdown-body-node h6 {
  font-weight: 600;
}

.markdown-body-node h6 {
  
}

.markdown-body-node p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body-node blockquote {
  margin: 0;
}

.markdown-body-node ol,
.markdown-body-node ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-node ol ol,
.markdown-body-node ul ol {
  list-style-type: lower-roman;
}

.markdown-body-node ol ol ol,
.markdown-body-node ol ul ol,
.markdown-body-node ul ol ol,
.markdown-body-node ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body-node dd {
  margin-left: 0;
}

.markdown-body-node code,
.markdown-body-node pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  
}

.markdown-body-node pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-node input::-webkit-inner-spin-button,
.markdown-body-node input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body-node :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body-node .border {
  border: 1px solid #e1e4e8!important;
}

.markdown-body-node .border-0 {
  border: 0!important;
}

.markdown-body-node .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.markdown-body-node .rounded-1 {
  border-radius: 3px!important;
}

.markdown-body-node .bg-white {
  background-color: #fff!important;
}

.markdown-body-node .bg-gray-light {
  background-color: #fafbfc!important;
}

.markdown-body-node .text-gray-light {
  color: #6a737d!important;
}

.markdown-body-node .mb-0 {
  margin-bottom: 0!important;
}

.markdown-body-node .my-2 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.markdown-body-node .pl-0 {
  padding-left: 0!important;
}

.markdown-body-node .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown-body-node .pl-1 {
  padding-left: 4px!important;
}

.markdown-body-node .pl-2 {
  padding-left: 8px!important;
}

.markdown-body-node .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown-body-node .pl-3,
.markdown-body-node .px-3 {
  padding-left: 16px!important;
}

.markdown-body-node .px-3 {
  padding-right: 16px!important;
}

.markdown-body-node .pl-4 {
  padding-left: 24px!important;
}

.markdown-body-node .pl-5 {
  padding-left: 32px!important;
}

.markdown-body-node .pl-6 {
  padding-left: 40px!important;
}

.markdown-body-node .f6 {
  
}

.markdown-body-node .lh-condensed {
  }

.markdown-body-node .text-bold {
  font-weight: 600!important;
}

.markdown-body-node .pl-c {
  color: #6a737d;
}

.markdown-body-node .pl-c1,
.markdown-body-node .pl-s .pl-v {
  color: #005cc5;
}

.markdown-body-node .pl-e,
.markdown-body-node .pl-en {
  color: #6f42c1;
}

.markdown-body-node .pl-s .pl-s1,
.markdown-body-node .pl-smi {
  color: #24292e;
}

.markdown-body-node .pl-ent {
  color: #22863a;
}

.markdown-body-node .pl-k {
  color: #d73a49;
}

.markdown-body-node .pl-pds,
.markdown-body-node .pl-s,
.markdown-body-node .pl-s .pl-pse .pl-s1,
.markdown-body-node .pl-sr,
.markdown-body-node .pl-sr .pl-cce,
.markdown-body-node .pl-sr .pl-sra,
.markdown-body-node .pl-sr .pl-sre {
  color: #032f62;
}

.markdown-body-node .pl-smw,
.markdown-body-node .pl-v {
  color: #e36209;
}

.markdown-body-node .pl-bu {
  color: #b31d28;
}

.markdown-body-node .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.markdown-body-node .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.markdown-body-node .pl-c2:before {
  content: "^M";
}

.markdown-body-node .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

.markdown-body-node .pl-ml {
  color: #735c0f;
}

.markdown-body-node .pl-mh,
.markdown-body-node .pl-mh .pl-en,
.markdown-body-node .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

.markdown-body-node .pl-mi {
  font-style: italic;
  color: #24292e;
}

.markdown-body-node .pl-mb {
  font-weight: 700;
  color: #24292e;
}

.markdown-body-node .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown-body-node .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdown-body-node .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdown-body-node .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown-body-node .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

.markdown-body-node .pl-ba {
  color: #586069;
}

.markdown-body-node .pl-sg {
  color: #959da5;
}

.markdown-body-node .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.markdown-body-node .mb-0 {
  margin-bottom: 0!important;
}

.markdown-body-node .my-2 {
  margin-bottom: 8px!important;
}

.markdown-body-node .my-2 {
  margin-top: 8px!important;
}

.markdown-body-node .pl-0 {
  padding-left: 0!important;
}

.markdown-body-node .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown-body-node .pl-1 {
  padding-left: 4px!important;
}

.markdown-body-node .pl-2 {
  padding-left: 8px!important;
}

.markdown-body-node .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown-body-node .pl-3 {
  padding-left: 16px!important;
}

.markdown-body-node .pl-4 {
  padding-left: 24px!important;
}

.markdown-body-node .pl-5 {
  padding-left: 32px!important;
}

.markdown-body-node .pl-6 {
  padding-left: 40px!important;
}

.markdown-body-node .pl-7 {
  padding-left: 48px!important;
}

.markdown-body-node .pl-8 {
  padding-left: 64px!important;
}

.markdown-body-node .pl-9 {
  padding-left: 80px!important;
}

.markdown-body-node .pl-10 {
  padding-left: 96px!important;
}

.markdown-body-node .pl-11 {
  padding-left: 112px!important;
}

.markdown-body-node .pl-12 {
  padding-left: 128px!important;
}

.markdown-body-node hr {
  border-bottom-color: #eee;
}

.markdown-body-node kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body-node:after,
.markdown-body-node:before {
  display: table;
  content: "";
}

.markdown-body-node:after {
  clear: both;
}

.markdown-body-node>:first-child {
  margin-top: 0!important;
}

.markdown-body-node>:last-child {
  margin-bottom: 0!important;
}

.markdown-body-node a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body-node blockquote,
.markdown-body-node details,
.markdown-body-node dl,
.markdown-body-node ol,
.markdown-body-node p,
.markdown-body-node pre,
.markdown-body-node table,
.markdown-body-node ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body-node hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body-node blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.markdown-body-node blockquote>:first-child {
  margin-top: 0;
}

.markdown-body-node blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body-node h1,
.markdown-body-node h2,
.markdown-body-node h3,
.markdown-body-node h4,
.markdown-body-node h5,
.markdown-body-node h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  }

.markdown-body-node h1 {
  
}

.markdown-body-node h1,
.markdown-body-node h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body-node h2 {
  
}

.markdown-body-node h3 {
  
}

.markdown-body-node h4 {
  
}

.markdown-body-node h5 {
  
}

.markdown-body-node h6 {
  
  color: #6a737d;
}

.markdown-body-node ol,
.markdown-body-node ul {
  padding-left: 2em;
}

.markdown-body-node ol ol,
.markdown-body-node ol ul,
.markdown-body-node ul ol,
.markdown-body-node ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-node li {
  word-wrap: break-all;
}

.markdown-body-node li>p {
  margin-top: 16px;
}

.markdown-body-node li+li {
  margin-top: .25em;
}

.markdown-body-node dl {
  padding: 0;
}

.markdown-body-node dl dt {
  padding: 0;
  margin-top: 16px;
  
  font-style: italic;
  font-weight: 600;
}

.markdown-body-node dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body-node table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body-node table th {
  font-weight: 600;
}

.markdown-body-node table td,
.markdown-body-node table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body-node table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body-node table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body-node img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown-body-node img[align=right] {
  padding-left: 20px;
}

.markdown-body-node img[align=left] {
  padding-right: 20px;
}

.markdown-body-node code {
  padding: .2em .4em;
  margin: 0;
  
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.markdown-body-node pre {
  word-wrap: normal;
}

.markdown-body-node pre>code {
  padding: 0;
  margin: 0;
  
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body-node .highlight {
  margin-bottom: 16px;
}

.markdown-body-node .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body-node .highlight pre,
.markdown-body-node pre {
  padding: 16px;
  overflow: auto;
  
    background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body-node pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
    word-wrap: normal;
  background-color: initial;
  border: 0;
}

.markdown-body-node .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  
  color: #444d56;
}

.markdown-body-node .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body-node .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown-body-node .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown-body-node .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  
    color: rgba(27,31,35,.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body-node .blob-num:hover {
  color: rgba(27,31,35,.6);
}

.markdown-body-node .blob-num:before {
  content: attr(data-line-number);
}

.markdown-body-node .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
    vertical-align: top;
}

.markdown-body-node .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.markdown-body-node .pl-token.active,
.markdown-body-node .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.markdown-body-node .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.markdown-body-node .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.markdown-body-node .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.markdown-body-node .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.markdown-body-node .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.markdown-body-node .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.markdown-body-node .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.markdown-body-node .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.markdown-body-node .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.markdown-body-node .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.markdown-body-node .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.markdown-body-node .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.markdown-body-node .task-list-item {
  list-style-type: none;
}

.markdown-body-node .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body-node .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}
