@mixin baseThemeStyle{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

@mixin baseThemeName {
  white-space: nowrap;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

@mixin baseCenterThemeStyle {
  @include baseThemeStyle;
  font-size: calc(18px * var(--zoomRate,1)) !important;
  border-radius: 10px;
  padding: 10px 6px;
  line-height: calc(18px * var(--zoomRate,1) + 2px);
}




.root{
  :global{
    .node_part + .node_part{
      margin-left: 3px;
    }

    .memoStyle {
      font-size: calc(16px * var(--zoomRate,1));
      line-height: calc(16px * var(--zoomRate,1));
      color: #faad14;
    }

    .progStyle {
      cursor: pointer;
      .progTxtStyle{
        font-size: calc(12px * var(--zoomRate,1));
      }
    }

    .dateStyle {
      display: inline-block;
      cursor: pointer;
      line-height: 16px;
      vertical-align: bottom;

      .themedatetxt {
        display: inline-block;
        line-height: 16px;
        margin-left: 3px;
        margin-bottom: 0;
        color: var(--color);
      }

      .themeicon{
        color: var(--color);
      }
    }
  }
}


.themeBtnWrapper{
  :global{
    .themebtn {
      width: calc(16px * var(--zoomRate,1)) !important;
      height: calc(16px * var(--zoomRate,1)) !important;
      vertical-align: bottom;
      padding: 0 !important;
      line-height: calc(16px * var(--zoomRate,1));

      .themebtnicon{
        font-size: calc(16px * var(--zoomRate,1));
        line-height: calc(16px * var(--zoomRate,1));
        margin: 0;
        padding: 0;
        color: var(--color);
      }
    }
  }
}




.centerThemeStyle_extra {
  @include baseCenterThemeStyle;
  border: 2px solid #108ee9;
  background-color: #FFF;

  :global {
    .themename {
      @include baseThemeName;
      padding: 0;
    }
  }
}


.centerThemeStyle_noExtra {
  @include baseCenterThemeStyle;
  border: 0;
  background-color: #108ee9;

  :global {
    .themename {
      @include baseThemeName;
      padding: 0 8px;
      color: white;
    }
  }
}


.secendThemeStyle {
  @include baseThemeStyle;
  font-size: calc(16px * var(--zoomRate,1)) !important;
  line-height: calc(16px * var(--zoomRate,1) + 4px);
  padding: 5px;

  :global{
    .themename {
      @include baseThemeName;
    }
  }
};


.otherThemeStyle {
  @include baseThemeStyle;
  font-size: calc(14px * var(--zoomRate,1)) !important;
  line-height: calc(14px * var(--zoomRate,1) + 4px);
  padding: 0 2px 1px;

  :global{
    .themename {
      @include baseThemeName;
    }
  }
}










.themeTxtTooltip{
  :global{
    .btnContainer{
      margin-top: 10px;

      .btn{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.linkTooltip{
  :global{
    .btnContainer{
      margin-top: 10px;

      .btn{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.refTooltip{
  :global{
    .btnContainer{
      margin-top: 10px;

      .btn{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}