.root{
  :global{
    .memoStyle {
      font-size: 16px;
      line-height: 16px;
      margin-left: 3px;
      vertical-align: bottom;
      margin-bottom: 0;
      color: #faad14;
    }

    .progStyle {
      margin-left: 3px;
      vertical-align: bottom;
      margin-bottom: 1px;
      cursor: pointer;

      .progTxtStyle{
        font-size: 12px;
      }
    }

    .dateStyle {
      display: inline-block;
      cursor: pointer;
      margin-right: 5px;
      line-height: 16px;
      vertical-align: bottom;

      .themedatetxt {
        display: inline-block;
        line-height: 16px;
        margin-left: 3px;
        margin-bottom: 2px;
        color: var(--color);
      }

      .themeicon{
        color: var(--color);
      }

    }

  }
}


.themeBtnWrapper{
  :global{
    .themebtn {
      width: 16px !important;
      height: 16px !important;
      vertical-align: bottom;
      padding: 0 !important;
      line-height: 16px;
      margin-bottom: 2px;
      margin-left: 3px;

      .themebtnicon{
        font-size: 16px;
        line-height: 16px;
        margin: 0;
        padding: 0;
        color: var(--color);
      }
    }
  }
}

.baseThemeStyle {
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  //padding-bottom: 0;
  vertical-align: bottom;
}


.baseCenterThemeStyle {
  composes: baseThemeStyle;
  font-size: 18px !important;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px !important;
  padding-top: 10px;
  line-height: 20px;

  :global {
    .themename {
      white-space: nowrap;
      display: inline-block;
      font-size: 18px !important;
      line-height: 20px;
      margin-left: 0px;
      margin-right: 0px;
      vertical-align: bottom;
    }
  }
}


.centerThemeStyle_extra {
  composes: baseCenterThemeStyle;
  border: 2px solid #108ee9;
  background-color: #FFF;

  :global {
    .themename {
      padding: 0px 2px;
    }
  }
}

.centerThemeStyle_noExtra {
  composes: baseCenterThemeStyle;
  background-color: #108ee9;

  :global {
    .themename {
      padding: 0px 8px;
      color: white;
    }
  }
}





.secendThemeStyle {
  composes: baseThemeStyle;
  font-size: 16px !important;
  line-height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  :global{
    .themename {
      white-space: nowrap;
      display: inline-block;
    }
  }
};

.otherThemeStyle {
  composes: baseThemeStyle;
  font-size: 14px !important;
  line-height: 18px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0;

  :global{
    .themename {
      white-space: nowrap;
      display: inline-block;
    }
  }
}










.themeTxtTooltip{
  :global{
    .btnContainer{
      margin-top: 10px;

      .btn{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.linkTooltip{
  :global{
    .btnContainer{
      margin-top: 10px;

      .btn{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}