.avatarStyle {
  //margin-left: 0px !important;
  //vertical-align: bottom !important;
  //margin-bottom: 1px !important;
  //cursor: pointer !important;
  border-radius: 0 !important;
// color: '#f56a00',
// backgroundColor: '#fde3cf',
}

.assignedColor{
  color: var(--color) !important;
}

.cascadeContainer{
  margin-left: 3px !important;
  vertical-align: bottom !important;
  margin-bottom: 1px !important;
  display: inline-block;
  position: relative;
  width: calc(20px * var(--zoomRate,1));
  height: calc(20px * var(--zoomRate,1));
  overflow: hidden;
  cursor: pointer !important;

  :global{
    .big{
      position: absolute;
      font-size: calc(20px * var(--zoomRate,1)) !important;
      line-height: calc(20px * var(--zoomRate,1)) !important;
      width: calc(20px * var(--zoomRate,1)) !important;
      height: calc(20px * var(--zoomRate,1)) !important;
    }
    .small_wrapper{
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc(10px * var(--zoomRate,1));
      height: calc(10px * var(--zoomRate,1));
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.9);

      .small{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: calc(10px * var(--zoomRate,1)) !important;
        line-height: calc(10px * var(--zoomRate,1)) !important;
        width: calc(10px * var(--zoomRate,1)) !important;
        height: calc(10px * var(--zoomRate,1)) !important;
      }
    }

  }
}