.avatarStyle {
  margin-left: 3px;
  vertical-align: bottom;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 0;
// color: '#f56a00',
// backgroundColor: '#fde3cf',
}

.assignedColor{
  color: var(--color);
}