.avatarStyle {
  margin-left: 3px !important;
  vertical-align: bottom !important;
  margin-bottom: 1px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
// color: '#f56a00',
// backgroundColor: '#fde3cf',
}

.assignedColor{
  color: var(--color);
}