$table_color_title: #409EFF;
$table_color_border: #d0d7de;


// 导航栏的宽度、边距与主体区域的宽度
$nav_width: 20%;
$nav_right: 40px;
$body_width_with_nav: calc(79% - 40px);


.markdown_body {
  margin: 0 auto;
  width: 98%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.markdown_body_with_nav {
  margin-top: 0;
  margin-bottom: 0;
  width: $body_width_with_nav;
  overflow-x: hidden;
  overflow-y: hidden;
}

:global {




  .markdown-body blockquote {
    border-left: .25em solid lightgreen !important;
  }

  .markdown-body table > thead > tr {
    color: #fff;
    background-color: $table_color_title;
  }

  .markdown-body table > thead > tr > th {
    border: 1px solid $table_color_title;
    border-left: 1px solid $table_color_border;
    border-right: 1px solid $table_color_border;
  }

  .markdown-body table > thead > tr > th:first-child {
    border-left: 1px solid $table_color_title;
  }

  .markdown-body table > thead > tr > th:last-child {
    border-right: 1px solid $table_color_title;
  }

  .markdown-body .code_wrapper {
    position: relative;

    .copy_btn{
      position: absolute;
      top:5px;
      right:10px;
      display: none;
      color:rgba(255,255,255,0.75);
      cursor: pointer;
    }

    &:hover .copy_btn{
      display: inline-block;
    }
  }
}



.backtop {
  right: 140px !important;
  bottom: 120px !important;

  &:hover {
    :global {
      .ant-back-top-content {
        background-color: rgba(24,144,255, 1.0);
      }
    }
  }

  :global {
    .ant-back-top-content {
      background-color: rgba(24,144,255, .80);
    }
  }
}

.toolbar_container{
  :global{
    .toolbar{
      margin-left: 20px;
    }
    .toolbar + .toolbar{
      margin-left: 8px;
    }
  }
}

.navbar{
  right: $nav_right;
  top: 74px;
  position: absolute;
  width: $nav_width;
  max-height: calc(100vh - 300px) !important;
  &::-webkit-scrollbar{
    display: none;
  }
}